@model IEnumerable<MovieInfo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="text-center border-bottom">
        <h2>Movie Watch List</h2>
    </div>
    <br />
    <div class="row">
        <div class="col-12 text-right">
            <partial name="_CreateButtonPartial" />
        </div>
    </div>

    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Year)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Genre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Star)
                    </th>
                    <th class="text-right">
                        Edit/Details/Delete
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Genre)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Description)
                        </td>
                        <td  readonly class="star"  type="checkbox">
                            @Html.DisplayFor(m => item.Star)
                        </td>


                        <partial name="_TableButtonPartial" model="item.MovieId" />

                    </tr>
                }
            </table>
        }
        else
        {
            <p>No Movies Exist...</p>
        }
    </div>
</div>



